<% provide(:title, @instructor.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% if @instructor.img? %>                                                              
        <%= image_tag @instructor.img.thumb.url %>
        <% end %>
        <%= @instructor.name %>
      </h1>
    </section>
  </aside>
</div>